<div class="w3-margin-right w3-card-2 " style="max-width:500px">
<form action="" #formPassword="ngForm" >
  <div  class="w3-margin-bottom w3-border w3-border-blue w3-padding-large">

    <label for="old">پسورد فعلی</label>
    <input class="w3-input" type="password" id="old" name="oldPassword"[(ngModel)]="old_password" required>
  </div>
  <div class="w3-margin-bottom w3-border w3-border-blue w3-padding-large">

    <label for="new">پسورد جدید</label>
    <input class="w3-input" type="password" id="new"name="newPassword"[(ngModel)]="new_password" required>
  </div>
  <div class="w3-margin-bottom w3-border w3-border-blue w3-padding-large">

    <label for="repeat">تکرار پسورد جدید</label>
    <input class="w3-input" type="password" id="repeat" name="reapeatNewPassword"[(ngModel)]="repeat_new_password" required>
  </div>
  <div class="w3-margin-bottom w3-left w3-padding-large">
    <button class="w3-button w3-orange w3-text-white w3-round w3-ripple" (click)="change()">تغییر</button>
  </div>
</form>
<div class="w3-modal" [style.display]="showModalDanger">
  <div class="w3-modal-content w3-red  w3-animate-top" style="max-width:350px">
    <div class="w3-panel">
      <p class=" w3-text-white w3-center" dir="rtl">
        عملیات ناموفق
      </p>

    </div>
  </div>
</div>
<div class="w3-modal" [style.display]="showModalOk">
  <div class="w3-modal-content w3-green  w3-animate-top" style="max-width:350px">
    <div class="w3-panel">
      <p class=" w3-text-white w3-center" dir="rtl">
عملیات با موفقیت انجام شد.
      </p>
    </div>
  </div>
</div>

</div>
