<div class="w3-amber" >

    <div class="timeline">
        <div class="container left ">
            <div class="content w3-card-4 w3-text-blue" dir="rtl">
                <p>تحویل به موقع</p>
            </div>
        </div>
        <div class="container right">
            <div class="content w3-card-4 w3-text-green" dir="rtl">
            <p>خرید آسان</p>
            </div>
        </div>
        <div class=" container left">
<div class="content w3-card-4 w3-text-teal" dir="rtl">
<p>گستردگی انتخاب</p>
</div>
        </div>
    </div>
</div>
