<div class="w3-padding-64">



    <div class="w3-content w3-card-2 w3-margin-top w3-margin-bottom " style="max-width:500px" >
       <div class="w3-container w3-red w3-padding-large w3-xlarge " dir="rtl">
    ورود
       </div>
    <form class="w3-container" #loginForm="ngForm" >
    
    
    
    
        <div class="w3-text-red w3-margin-top ">
            <label class="w3-text-red w3-right"for="" dir="rtl"
            >پست الکترونیک:</label>
            <input type="text" class="w3-input w3-hover-light-grey
            w3-border" required name="email" [(ngModel)]="log_in.email">
        </div>
       
        <div class="w3-text-red w3-margin-top ">
            <label class="w3-text-red w3-right "for="" dir="rtl">رمز ورود:
     
            </label>
            <input type="password" class="w3-input w3-hover-light-grey
            w3-border" required name="password" [(ngModel)]="log_in.password">
        </div>
        <button (click)="login()" class="w3-button w3-padding-medium
        w3-red w3-margin-top w3-margin-bottom" >ورود</button>
    </form>
   
   
    </div>
    <div id="id01" class="w3-modal" [style.display]="showModal">
        <div class="w3-modal-content w3-red  w3-animate-top">
            <div class="w3-panel">
                <p class=" w3-text-white w3-center"  dir="rtl">
                    پست الکترونیک و یا رمز عبور اشتباه می باشد .
                </p>
            </div>
        </div>
    </div>
</div>
